{% extends 'base.html.twig' %}

{% block title %}
Toutes les recettes
{% endblock %}

{% block body %}
<p>Ad eiusmod consectetur cillum incididunt ea do quis Lorem. Dolore in esse aliqua ea reprehenderit deserunt nostrud
	est aliqua. Ut consectetur sint non eu occaecat dolor non. Consectetur eu reprehenderit Lorem in reprehenderit est
	consequat dolor. Sint sunt labore magna anim ad magna anim exercitation laborum voluptate. Ullamco tempor velit
	cillum Lorem in labore id sunt enim velit laboris quis incididunt.
</p>

<ul>
	<li><a href="{{ url('recipe.show',{id:1,slug:'pate-carbonnara'})}}">Pâtes carbonnara</a></li>
</ul>
{% endblock %}